
<!doctype html>

<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#4F7DC9">
  <meta charset="UTF-8">
  <title>Flask实现简单搜索功能</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://storage.googleapis.com/codelab-elements/codelab-elements.css">
  <style>
    .success {
      color: #1e8e3e;
    }
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <google-codelab-analytics gaid="UA-49880327-14"></google-codelab-analytics>
  <google-codelab codelab-gaid=""
                  id="20200210-02-刘玉江"
                  title="Flask实现简单搜索功能"
                  environment="web"
                  feedback-link="http://www.sctu.edu.cn">
    
      <google-codelab-step label="前言" duration="5">
        <p>主要功能是通过form的方式传值，再到数据库中查询。下面是数据库的内容我们这里主要是实现对content进行模糊匹配。</p>
<p class="image-container"><img src="img\cbefec4a6cbdf99.png"></p>


      </google-codelab-step>
    
      <google-codelab-step label="准备工作" duration="5">
        <p>第三方库：flask_sqlalchemy、flask</p>


      </google-codelab-step>
    
      <google-codelab-step label="步骤" duration="5">
        <p>首先打开pycharm，构建一个最简单的flask应用。</p>
<pre><code>#search.py

from flask import Flask
app = Flask(__name__)
@app.route(&#34;/&#34;)
def index():
    return render_template(&#39;search.html&#39;)
if __name__ ==&#34;__main__&#34;:
    app.run()

</code></pre>
<p>既然要搜索，必要要连接数据库，要引入SQLAlchemy这个包。</p>
<pre><code>#search.py

from flask_sqlalchemy import SQLAlchemy

app.config[&#39;SQLALCHEMY_DATABASE_URI&#39;]=&#39;mysql+pymysql://root:123456@127.0.0.1:3306/test?charset=utf8&#39;
app.config[&#39;SQLALCHEMY_COMMIT_ON_TEARDOWN&#39;] = True #root用户名123456密码 test数据库

</code></pre>
<p>最后我们需要从form表单拿到我们想要的数据。然后进行数据库查询操作</p>
<pre><code>@app.route(&#39;/&#39;, methods=[&#39;post&#39;, &#39;get&#39;])
def search():
    content = request.form.get(&#39;content&#39;) #需要查询的内容
    if content is None:
        content = &#34; &#34;
    quotes = Quotes.query.filter(Quotes.content.like(&#34;%&#34;+content+&#34;%&#34;)if content is not None else &#34;&#34;).all() #查询跟content有关的数据，返回结果为列表
    return render_template(&#39;search.html&#39;,quotes = quotes) #将查询结果返回到前端

</code></pre>
<pre><code>#search,html
&lt;!DOCTYPE html&gt;
&lt;html lang=&#34;en&#34;&gt;
&lt;head&gt;
    &lt;meta charset=&#34;UTF-8&#34;&gt;
    &lt;title&gt;Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;form method=&#34;post&#34; action=&#34;&#123;&#123;url_for(&#39;search&#39;)}}&#34;&gt;
    &lt;input type=&#34;text&#34; name=&#34;content&#34; id=&#34;content&#34; placeholder=&#34;请输入搜索内容&#34;&gt;
    &lt;input type=&#34;submit&#34; value=&#34;搜索&#34;&gt;
&lt;/form&gt;
&lt;div&gt;
    &lt;table border=&#34;1px&#34; cellspacing=&#34;0px&#34;&gt;
        {% for i in quotes %}
        &lt;tr&gt;
            &lt;td&gt;名字&lt;/td&gt;
            &lt;td&gt;&#123;&#123;i.name}}&lt;/td&gt;
            &lt;td&gt;内容&lt;/td&gt;
            &lt;td&gt;&#123;&#123;i.content}}&lt;/td&gt;
        &lt;/tr&gt;
        {% endfor %}
    &lt;/table&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;


</code></pre>
<p>效果如下：</p>
<p class="image-container"><img src="img\28949019be4073e1.png"><img src="img\4ccdfe3bdfea0984.png"></p>
<p>一个简单的查询功能就完成了，这里只是做了单条件模糊查询。接下来介绍多条件模糊查询和精确查询</p>
<pre><code>#多条件模糊查询

content = Quotes.query.filter(
     Quotes.id.like(&#34;%&#34; + id + &#34;%&#34;) if id is not None else &#34;&#34;,
     Quotes.name.like(&#34;%&#34; + name + &#34;%&#34;) if name is not None else &#34;&#34;,
     Quotes.content.like(&#34;%&#34; + content + &#34;%&#34;) if content is not None else &#34;&#34;
 ).all()

#单条件精确查询

content = Quotes.query.filter_by(id=id).all()

#多条件精确查询

content = Quotes.query.filter_by(id=id,name=name).all()


</code></pre>


      </google-codelab-step>
    
      <google-codelab-step label="完整代码" duration="5">
        <pre><code>#search.py
from flask import Flask, config, render_template, request, flash, url_for, session
from flask_sqlalchemy import SQLAlchemy


app = Flask(__name__)

app.config.from_object(config)

app.config[&#39;SQLALCHEMY_DATABASE_URI&#39;] = &#39;mysql+pymysql://root:1914571065lyj@127.0.0.1:3306/java2019?charset=utf8&#39;
app.config[&#39;SQLALCHEMY_COMMIT_ON_TEARDOWN&#39;] = True

db = SQLAlchemy(app)


class Quotes(db.Model):
    id = db.Column(db.Integer, primary_key=True, comment=&#39;ID&#39;)
    name = db.Column(db.String(255), unique=True, comment=&#39;名称&#39;)
    content = db.Column(db.String(255), comment=&#39;内容&#39;)


@app.route(&#39;/&#39;, methods=[&#39;post&#39;, &#39;get&#39;])
def search():
    content = request.form.get(&#39;content&#39;)
    if content is None:
        content = &#34; &#34;
    quotes = Quotes.query.filter(Quotes.content.like(&#34;%&#34;+content+&#34;%&#34;)if content is not None else &#34;&#34;).all()
    return render_template(&#39;search.html&#39;,quotes = quotes)


if __name__ == &#34;__main__&#34;:
    app.run(debug=True)


</code></pre>
<pre><code>#search.py

&lt;!DOCTYPE html&gt;
&lt;html lang=&#34;en&#34;&gt;
&lt;head&gt;
    &lt;meta charset=&#34;UTF-8&#34;&gt;
    &lt;title&gt;Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;form method=&#34;post&#34; action=&#34;&#123;&#123;url_for(&#39;search&#39;)}}&#34;&gt;
    &lt;input type=&#34;text&#34; name=&#34;content&#34; id=&#34;content&#34; placeholder=&#34;请输入搜索内容&#34;&gt;
    &lt;input type=&#34;submit&#34; value=&#34;搜索&#34;&gt;
&lt;/form&gt;
&lt;div&gt;
    &lt;table border=&#34;1px&#34; cellspacing=&#34;0px&#34;&gt;
        {% for i in quotes %}
        &lt;tr&gt;
            &lt;td&gt;名字&lt;/td&gt;
            &lt;td&gt;&#123;&#123;i.name}}&lt;/td&gt;
            &lt;td&gt;内容&lt;/td&gt;
            &lt;td&gt;&#123;&#123;i.content}}&lt;/td&gt;
        &lt;/tr&gt;
        {% endfor %}
    &lt;/table&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;



</code></pre>


      </google-codelab-step>
    
  </google-codelab>

  <script src="https://storage.googleapis.com/codelab-elements/native-shim.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/custom-elements.min.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/prettify.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/codelab-elements.js"></script>

</body>
</html>
